@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre, a, abbr, acronym, address,
big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link {
  color: inherit;
  text-decoration: none; }

a:visited {
  color: inherit;
  text-decoration: none; }

a:active {
  color: inherit;
  text-decoration: none; }

body {
  font-family: 'Roboto', sans-serif;
  background: #585858; }

.hero-wrapper {
  display: flex;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ) darkgrey; }

.hero-logo-wrapper {
  margin: 2px 0 2px 2px; }

.hero-title-wrapper {
  text-align: center;
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #6d0019 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(100%, #6d0019));
  background: -webkit-linear-gradient(top, #a90329 0%, #6d0019 100%);
  background: -o-linear-gradient(top, #a90329 0%, #6d0019 100%);
  background: -ms-linear-gradient(top, #a90329 0%, #6d0019 100%);
  background: linear-gradient(to bottom, #a90329 0%, #6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ) darkred;
  border: 2px inset;
  border-radius: 20px 20px 20px 20px;
  box-shadow: inset 3px 3px 30px 3px black;
  align-self: center;
  padding: 0px 5px 0px 5px;
  color: white;
  min-width: 161.2px; }
  .hero-title-wrapper h1 {
    font-size: normal; }

.cai-wrapper {
  position: relative;
  margin: auto; }
  .cai-wrapper ul {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap; }
  .cai-wrapper li {
    width: auto;
    margin: auto;
    padding: 5px; }
    .cai-wrapper li img {
      width: 50px; }

nav {
  background-color: #a9a9a9;
  height: auto;
  width: 100%;
  text-align: center;
  margin: 0px -1px 10px -1px;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75); }
  nav li:hover {
    border-bottom: solid #cf0000 2.5px; }
  nav li {
    display: inline-block;
    margin: 0 30px 0 30px;
    font-size: normal;
    padding: 0px 3px 0px 3px;
    border-radius: 0px 0px 10px 10px;
    border-bottom: solid darkred 2.5px;
    box-shadow: inset 0px -1px 5px 0px rgba(0, 0, 0, 0.75); }
    nav li a:hover {
      border-bottom: solid #cf0000 2.5px; }
    nav li h3 {
      color-color: #0F100D;
      text-shadow: 0px -2px 2px rgba(0, 0, 0, 0.26); }

.header-img-wrapper {
  width: 100%;
  margin: 0px -6px 0px -6px; }

.header-img {
  width: 100;
  max-width: 100%;
  height: auto;
  border: 2px darkgrey inset;
  box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.75); }

.main-wrapper {
  display: grid; }

.pods-wrapper {
  display: grid;
  width: auto;
  height: auto;
  margin-top: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #a9a9a9;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75); }
  .pods-wrapper ul {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin: 10px 0px 10px 0px;
    text-align: center;
    align-content: center; }
    .pods-wrapper ul li {
      display: inline;
      flex: 15%;
      max-width: 50%;
      padding: 6px; }
      .pods-wrapper ul li img {
        width: 115px;
        height: auto;
        margin-top: 8px;
        vertical-align: middle;
        border-radius: 10px;
        box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.75);
        filter: grayscale(100%);
        border: 2px darkgrey inset; }
      .pods-wrapper ul li img:hover {
        filter: grayscale(0%); }

.icons-wrapper {
  display: flex;
  margin: 10px 0px 0px 0px;
  width: 100%; }
  .icons-wrapper .icons-wrapper-inner {
    width: auto;
    height: auto;
    margin: auto;
    border: none; }

.intro-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 7px;
  grid-template-areas: "a a a a" "b b b b" "c c c c" "d d d d";
  align-items: start;
  width: auto;
  margin: 10px 10px 10px 10px; }

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 7px;
  grid-template-areas: "a a a a" "b b b b" "c c c c" "d d d d";
  align-items: start;
  width: auto;
  margin: 10px 10px 0px 10px; }

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 7px;
  grid-template-areas: "a a a a" "b b b b" "c c c c" "d d d d" "e e e e";
  align-items: start;
  width: auto;
  margin: 0px 10px 0px 10px; }

.intro-first-section {
  grid-area: a;
  justify-self: center;
  text-align: center; }

.intro-second-section {
  grid-area: c;
  justify-self: center;
  text-align: center; }

.about-first-section {
  grid-area: a;
  justify-self: center;
  text-align: center; }
  .about-first-section .bulleted-ul ul {
    text-align: center; }
  .about-first-section .bulleted-ul li {
    font-size: 20px;
    margin: 0px 0px 5px 0px; }
  .about-first-section .bulleted-ul li::before {
    font-size: 30px;
    content: '>';
    color: darkred; }

.about-second-section {
  grid-area: b;
  justify-self: center;
  text-align: center; }
  .about-second-section .bulleted-ul ul {
    text-align: center; }
  .about-second-section .bulleted-ul li {
    font-size: 20px;
    margin: 0px 0px 5px 0px; }
  .about-second-section .bulleted-ul li::before {
    font-size: 30px;
    content: '>';
    color: darkred; }

.contact-first-section {
  grid-area: a;
  justify-self: center;
  text-align: center; }
  .contact-first-section img {
    width: 15%;
    margin-bottom: 5px; }
  .contact-first-section ul {
    text-align: center; }
    .contact-first-section ul li {
      font-size: 23px;
      text-align: center;
      margin-bottom: 10px; }
    .contact-first-section ul #head-office {
      background: darkred;
      border: none;
      border-radius: 10px; }
  .contact-first-section .social-media-wrapper {
    display: inline-block;
    margin: auto; }
    .contact-first-section .social-media-wrapper ul {
      text-align: center;
      margin: auto; }
      .contact-first-section .social-media-wrapper ul li {
        display: inline;
        padding: 0px 10px 0px 10px;
        text-align: center;
        margin: auto; }

.contact-second-section {
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  margin-top: 10px; }
  .contact-second-section .form-wrapper {
    text-align: center;
    background-color: #64646471;
    border: none;
    border-radius: 10px 10px 0px 0px; }
  .contact-second-section form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 3px;
    grid-template-areas: "a b" "c d" "e f" "g h";
    align-items: start;
    align-self: center;
    width: 75%;
    height: auto;
    margin: auto;
    text-align: center; }
    .contact-second-section form textarea {
      resize: none;
      outline: none; }
    .contact-second-section form #firstName {
      grid-area: a;
      min-width: 99px;
      min-height: 0;
      border: 1px inset darkgrey; }
    .contact-second-section form #lastName {
      grid-area: b;
      min-width: 99px;
      min-height: 0;
      border: 1px inset darkgrey; }
    .contact-second-section form #phoneNumber {
      grid-area: c;
      min-width: 0;
      min-height: 0;
      border: 1px inset darkgrey; }
    .contact-second-section form #email {
      grid-area: d;
      min-width: 0;
      min-height: 0;
      border: 1px inset darkgrey; }
    .contact-second-section form #message {
      grid-area: e / span 2;
      min-width: 0;
      min-height: 0;
      border: 1px inset darkgrey; }
    .contact-second-section form #submit-button {
      grid-area: g / span 2;
      min-width: 0;
      max-width: 150px;
      min-height: 0;
      margin: auto; }

footer {
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  padding: 3px;
  border: none;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.75); }

.cta-1 {
  grid-area: b; }
  .cta-1 p::before {
    font-family: 'Font Awesome 5 Free';
    font-size: 25px;
    content: "" " ";
    color: white; }

.cta-2 {
  grid-area: d; }
  .cta-2 p::before {
    font-family: 'Font Awesome 5 Free';
    font-size: 25px;
    content: "" " ";
    color: white; }

.cta-3 {
  grid-area: b; }
  .cta-3 p::before {
    font-family: 'Font Awesome 5 Free';
    font-size: 25px;
    content: "" " ";
    color: white; }

.intro-first-section h1, .intro-second-section h1, .about-first-section h1, .about-second-section h1, .contact-first-section h1, .contact-second-section h1 {
  font-size: normal;
  text-align: center; }

.intro-first-section h1::before, .intro-second-section h1::before, .about-first-section h1::before, .about-second-section h1::before, .contact-first-section h1::before, .contact-second-section h1::before {
  font-family: 'Font Awesome 5 Free';
  content: "\f101";
  color: darkred; }

.intro-first-section h2, .intro-second-section h2, .about-first-section h2, .about-second-section h2, .contact-first-section h2, .contact-second-section h2 {
  font-size: normal;
  text-align: center; }

.intro-first-section h2::before, .intro-second-section h2::before, .about-first-section h2::before, .about-second-section h2::before, .contact-first-section h2::before, .contact-second-section h2::before {
  font-family: 'Font Awesome 5 Free';
  content: "\f101";
  color: darkred; }

.intro-first-section h3, .intro-second-section h3, .about-first-section h3, .about-second-section h3, .contact-first-section h3, .contact-second-section h3 {
  font-size: normal;
  text-align: center; }

.intro-first-section h3::before, .intro-second-section h3::before, .about-first-section h3::before, .about-second-section h3::before, .contact-first-section h3::before, .contact-second-section h3::before {
  font-family: 'Font Awesome 5 Free';
  content: "\f101";
  color: darkred; }

.text-card {
  color: white;
  background-color: #858585;
  text-overflow: hidden;
  border: none;
  border-radius: 5px;
  width: 85%;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75); }
  .text-card .section-wrapper {
    background-color: #64646471;
    margin: 7px;
    padding: 12px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75); }
  .text-card section {
    padding: 7px;
    font-size: 1.1em; }

.form-card {
  color: white;
  background-color: #858585;
  text-overflow: hidden;
  border: none;
  border-radius: 5px;
  width: auto;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75); }

.cta-wrapper {
  justify-self: center;
  width: 50%;
  padding: 5px;
  color: white;
  background: darkred;
  text-overflow: hidden;
  text-align: center;
  font-size: 18px;
  border: white solid 2px;
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75); }

.divider {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  width: 45%;
  height: 3px;
  background: white;
  border-radius: 5%; }

@media only screen and (max-width: 768px) {
  nav {
    display: inline-block;
    margin: 0;
    border: none;
    width: 100%;
    height: auto;
    font-size: small; }
  .hero-title-wrapper > h1 {
    font-size: 1.5em; }
  .intro-first-section > h1 {
    font-size: 1.5em; }
  .cai-wrapper ul li img {
    width: 32px; } }
